{% extends 'base.html.twig' %}

{% block title %}Hello CalandController!{% endblock %}

{% block body %}
<nav class="navbar nav-dark bg-primary mb-3">
    <a href="{{ path('caland') }}" class="navbar-brand">Mon Calandrier </a>

</nav>
{% endblock %}
